.banner{
     background: var(--azul-gradiente);
     color:var(--branco);
     text-align:center;
     padding:2.5em 2m;
  }   
  .banner_titulo{
    font-size:1.125em;
    fon-weight: 700;
   }
   .banner_texxto{
    font-weight:500;
    margin:1em 0;
   }
   .banner_pesquise{
    background-color: transparent;  
    border:1px soid var(--branco);
    border-radius: 24px;
    color: var(--branco);
    padding:1em;
    width: 100%;
}
.banner_pesquisa::placeholder{
    font-family: var(--font-principal);
    front-size: 0.0875 em ;
    font-weight: 400;
    text-align:center;
    color:var(--branco);
    background: url("../img/lupa.svg");
    background-position: 0.5wm;
}    
@media  screen and(min-widht:820px) {
    .banner_titulo {
        font-size:2.25em;
}
 .banner_pesquisa {
    widht:50%;
  } 
} 
  @media screen and(min-widht:1366px){
    .banner_pesquisa {
        widht:40%;
    }
 .banner_pesquisa::placeholder{
    background-position: 5em;
 }              
    }
 @media screen and (min-widht:1728px){
 .banner_pesquisa{
    widht:30%;
 }      
 .banner_pesquisa::placeholder {
    background-position: 5em;
 }
 .banner{
    padding:6em0;
    }   
    }